*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color:#ffff;
    padding: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 100%;
    max-width: 800px;
    height: 650px;
    background-color: rgb(247, 248, 250);
    border-radius: 8px;
    box-shadow: 0 0 20px 20px rgba(0,0,0,0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.contact-form{
    position: relative;
    background-color: #288eb6;
}

.circle{
    border-radius: 50%;
    background:linear-gradient(135deg,transparent 20%,#1b6e88);
    position: absolute;
}

.circle.one{
    width: 130px;
    height: 130px;
    top:170px;
    right: -20px;
}

.circle.two{
    width: 80px;
    height: 80px;
    top:30px;
    right:50px;
}

form{
padding: 2.3rem 2.2rem;
z-index: 10;
overflow: hidden;
position: relative;
}

.title{
color: #ffff;
font-size: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
line-height: 1;
margin-bottom: 0.7rem;
}

.input-container{
    position: relative;
    margin: 1rem 0;
}

.input{
    width: 100%;
    background: none;
    border: 2.5px solid #d7ebea;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffff;
    padding: 8px;
    border-radius: 20px;
    transition: 0.3s;
}

textarea.input{
    padding: 14px;
    min-height: 150px;
    border-radius:20px;
    resize: none;
    overflow-y: auto;
}

::placeholder{
    color: #ffff;
}

.btn{
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
    border:2px solid #fafafa;
    line-height: 1;
    color: #2f9e95;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: transparent;
    color: white;
}

.social-icons .fab{
    width: 50px;
    height: 40px;
    padding: 20px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 30px;
    color: rgb(31, 42, 202);
}

.heading{
    margin-top: 20px ;
    padding: 0 20px ;
    font-family: cursive;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.text{
    padding: 20px;
}

#icon{
    color: rgb(31, 42, 202);
    padding: 20px;
}